library(tidyverse)
install.packages("here")

# reading the file

Kings <- read.csv2("data/DK_Kings.CSV")

# creating a new column

Kings <- Kings %>%
  mutate(Reign = End_of_reign-Start_of_reign) %>% 
  filter(!is.na(Reign))

# plotting 

p <- Kings %>% 
  ggplot(aes(x = Reign, y = Name)) +
  geom_jitter(height = 0.2, color = "BLUE") 

# the plot couldn't be seen in the box called "Plots". Gustav helped me and wrote this solution:

ggsave("p.jpg", p)